h1 {
    color:darkgreen;
    font-family: Verdana;
    font-size: 50px;
    display: block;
    margin: auto;
}

.wallpaper {
    background-color: rgba(173, 245, 213, 0.48);
  }
  

#logo-image img {
    max-width: 500px;
    max-height: 500px;
    display: inline-block;
    margin: auto;
  }

  #headshot-image img {
    width: 100%;
    height: auto;
  }
  
  .subheading {
    text-align:center;
    font-family: 'Comfortaa', cursive;
  }