div {
    padding: 40px;
}



header {
    background-color:rgb(248, 248, 248);
    opacity: 1;
    position: sticky; 
    display: table;
    margin:auto; /* center the table */
    border-bottom: solid 1px black;
    top: 0;
    height: 60px;
    width: auto;
}

table {
    background-color: transparent;
    table-layout: fixed;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
}

td {
    background-color: transparent;
    border-right: 1px black solid;
    text-align: center;
    overflow: hidden;
    height: 60px;
    max-width:100px;
    margin: 0;
    padding: 0;
}

h3 {
    color: black;
    font-family: 'Forum';
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    padding: 20px;
    letter-spacing: 0.5px;
}

body {
    background-color:rgb(248, 248, 248);
}

footer {
    text-align:center;
}

h1 {
    color:rgb(0, 0, 0);
    font-family: 'Forum';
    font-weight: bold;
    font-size: 40px;
}

h2 {
    color:black;
    font-family: 'Forum';
    font-weight: bold;
    font-size: 80px;
    text-transform:uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.testheader {
    border-bottom: solid black 1px;
    height: 60px;
    width: 60px;
    display: inline-block;
}

.testheader a {
    border-left: solid black 1px;
}

li {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: 'Forum';
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.5px;
    list-style: none;
}

#sectiontitle {
    border-bottom:black solid 1px;
    padding: 40px;
}

.biography {
    border: dotted 4px rgb(85, 84, 84);
    background-color: hsla(109, 36%, 70%, 0.231);
    padding: 20px 20px 30px 30px;
    margin: 20px;
}

#biography {
    text-align: justify;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

button {
    background-color:#ffffffaf;
    border: dotted 1px black;
    margin: 0;
}


a {
    color: black;
    text-decoration: none;
    max-height: 60px;
    padding: 4px;
    cursor: pointer;
}

header a:hover {
    background-color: black;
    color: whitesmoke;
    height: 600px;
    margin: 0;
    padding: 0;

}

  #sbheadshot {
    max-width: auto;
    max-height: 500px;
    margin: auto;
  }
  
